* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #123456;
}

.swiper {
    width: 100%;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}


.swiper-slide {
    width: 80vw !important; /* responsive on mobile */
    max-width: 325px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
}

/* both css are working design expectation
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/
.swiper-slide img {
    width: 443px;
    height: 443px;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: rgba(255, 255, 255, 1);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev .bx,
.swiper-button-next .bx {
    font-size: 22px;
    color: #123456; /* Match background or brand color */
}


@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 35px;
        height: 35px;
    }
    
    .swiper-button-prev .bx,
    .swiper-button-next .bx {
        font-size: 18px;
    }

    .swiper-slide img {
        width: 276px;
        height: 276px;
        object-fit: cover;
    }

    .swiper-slide {
        max-width: 276px;
    }


}