*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #c1c1c1;

}

section{
    position: relative;
    width: calc(min(47rem, 90%));
    margin: 0 auto;
    min-height: 100vh;
    padding-block: min(20vh, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    column-gap: 3rem;

}

.swiper-container {
    position: relative;
    /*overflow: hidden;  */ /*Prevents overflow issues */
}

.swiper{
    width: 100%;
    padding: 60px 0 95px 0;
}

.swiper-slide{
    width: 10rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 0.4s ease;
    
}

.swiper-slide .swiper-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -45%);
    width: 100%;

}


.swiper-slide .swiper-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-button-prev,
.swiper-button-next {
    background: white;
    border-radius: 50%;
    position: absolute;
    top:47%;
    z-index: 10;
    /*left:-30px;*/
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 
}

.swiper-button-prev {
    left: -30px;
}

.swiper-button-next {
    right: -30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}
.swiper-button-prev .bx,
.swiper-button-next .bx {
    font-size: 25px;
}

/*
.swiper-button-next{
    background: white;
    border-radius: 50%;
    top:47%;
    right:-30px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
}
*/
/*
.swiper-button-next::after{
    content:""
}
*/

/*
.swiper-button-next .bx{
    font-size: 25px;
}
*/

/* Pagination styling */
.swiper-pagination {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: #000;
    opacity: 1;
}

@media (max-width: 760px) {
    .swiper-slide {
        max-width: 8rem;
        height: 16rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 40px;
        height: 40px;
    }

    .swiper-button-prev .bx,
    .swiper-button-next .bx {
        font-size: 20px;
    }
}
